<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Brutal.Dev.StrongNameSigner.TestAssembly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Brutal.Dev.StrongNameSigner.TestAssembly.Properties.Settings>
            <setting name="Test1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Test2" serializeAs="String">
                <value>My Test Setting</value>
            </setting>
        </Brutal.Dev.StrongNameSigner.TestAssembly.Properties.Settings>
    </userSettings>
</configuration>